<%= form_for(@receipt_item) do |f| %>
  <% if @receipt_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt_item.errors.count, "error") %> prohibited this receipt_item from being saved:</h2>

      <ul>
      <% @receipt_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :receipt_id %><br>
    <%= f.collection_select :receipt_id, current_user.receipts, :id, :title, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :item_type_id %><br>
    <%= f.collection_select :item_type_id, ItemType.all, :id, :name, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :is_credit %><br>
    <%= f.check_box :is_credit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
