<p id="notice"><%= notice %></p>

<p>
  <strong>Receipt:</strong>
  <%= @receipt_item.receipt %>
</p>

<p>
  <strong>Item type:</strong>
  <%= @receipt_item.item_type %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @receipt_item.cost %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @receipt_item.quantity %>
</p>

<%= link_to 'Edit', edit_receipt_item_path(@receipt_item) %> |
<%= link_to 'Receipt Item List', receipt_items_path %>
