<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @folder.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @folder.description %>
</p>

<p>
  <strong>Folder type:</strong>
  <%= @folder.folder_type.name %>
</p>

<p>
  <strong>Folder:</strong>
  <% if (@folder.folder != nil) %>
    <%= @folder.folder.name %>
  <% else %>
    <%= "N/A" %>
  <% end %>
</p>

<p>
  <strong>Sub-Folders:</strong>
  <% if (@folder.folders.size != 0) %>
  <br />
    <% @folder.folders.each do |folder| %>
      <%= link_to folder.name, folder %>
      <br />
    <% end %>
  <% else %>
    <%= "N/A" %>
  <% end %>
</p>

<p>
  <strong>Receipts:</strong>
  <% if (@folder.receipts.size != 0) %>
  <br />
    <% @folder.receipts.each do |receipt| %>
      <%= link_to receipt.title, receipt %>
      <br />
    <% end %>
  <% else %>
    <%= "N/A" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', folders_path %>
