<h1>Home Index Page</h1>
<% if user_signed_in? %>
	<h1>Logged in as user with email: <%= current_user.email%> and id <%= current_user.id %></h1>
	<ul>
	<% @userFolders.each do |userFolder| %>
		<li><%= link_to(userFolder.name, userFolder) %></li>
      <ul>
        <% userFolder.receipts.each do |receipt| %>
          <li><%= link_to(receipt.title + " - " + receipt.date.strftime("%m/%d/%Y"), receipt) %></li>
        <% end %>
      </ul>
	<% end %>
	</ul>
	<%= link_to 'Add Folder', new_folder_path %>
<% end %>
