<h1>Listing purchase_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_types.each do |purchase_type| %>
      <tr>
        <td><%= purchase_type.name %></td>
        <td><%= link_to 'Show', purchase_type %></td>
        <td><%= link_to 'Edit', edit_purchase_type_path(purchase_type) %></td>
        <td><%= link_to 'Destroy', purchase_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New purchase type', new_purchase_type_path %>
