<%= form_for(@receipt_tax) do |f| %>
  <% if @receipt_tax.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt_tax.errors.count, "error") %> prohibited this receipt_tax from being saved:</h2>

      <ul>
      <% @receipt_tax.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :receipt_id %><br>
    <%= f.collection_select :receipt_id, current_user.receipts, :id, :title, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :tax_type_id %><br>
    <%= f.collection_select :tax_type_id, TaxType.all, :id, :name, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
