<%= form_for(@receipt) do |f| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% @receipt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
	<% if (@receipt.date != nil) %>
	  <%= f.text_field :date, :value => @receipt.date.strftime("%m/%d/%Y") %>
	<% else %>
	  <%= f.text_field :date, :value => Date.today.strftime("%m/%d/%Y") %>
	<% end %>
  </div>
  <% if (@receipt.total != nil) %>
    <div class="field">
      <%= f.label :total %><br>
      <%= @receipt.total %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :transaction_number %><br>
    <%= f.text_field :transaction_number %>
  </div>
  <div class="field">
    <%= f.label :purchase_type_id %><br>
    <%= f.collection_select :purchase_type_id, PurchaseType.all, :id, :name, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :folder_id %><br>
    <%= f.collection_select :folder_id, current_user.folders, :id, :name, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :vendor_id %><br>
      <%-# if loop is entered if Editing receipt %>
      <% if (f.object.vendor_id != nil) %>
        <%= f.text_field "vendor_name", :value => Vendor.find(f.object.vendor_id).name %>
        <%= f.hidden_field :vendor_id %>
      <%-# else loop is entered if Creating receipt %>
      <% else %>
        <%= f.text_field "vendor_name", :value => "" %>
        <%= f.hidden_field :vendor_id, :value => "0"  %>
      <% end %>
  </div>
  <div class="field">
    <%= f.label :currency_id %><br>
    <%= f.collection_select :currency_id, Currency.all, :id, :code, :include_blank => true %>
  </div>

  <h2>Receipt Items</h2>

  <div id="items">
    <%= f.fields_for :receipt_items do |item| %>
      <%= render "receipt_item_fields", :f => item %>
      <br />
    <% end %>
    <br />
    <div id="links">
      <%-# link_to_add_association is part of the cocoon gem for nested fields -%>
      <%= link_to_add_association "Add Receipt Item", f, :receipt_items %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
