<div class="nested-fields">
    <div class="field">
      <%= f.label :item_type_id %><br>
      <%-# if loop is entered if Editing receipt %>
      <% if (f.object.item_type_id != nil) %>
        <%= f.text_field "itemtype", :value => ItemType.find(f.object.item_type_id).name %>
        <%= f.hidden_field :item_type_id %>
      <%-# else loop is entered if Creating receipt %>
      <% else %>
        <%= f.text_field "itemtype", :value => "" %>
        <%= f.hidden_field :item_type_id, :value => "0"  %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :cost %><br>
      <%= f.text_field :cost, :value => (f.object.is_credit == true ? -1 * f.object.cost : f.object.cost), class: "item_cost" %>
    </div>
    <div class="field">
      <%= f.label :quantity %><br>
      <%= f.number_field :quantity, class: "item_quantity" %>
    </div>
		<%= f.hidden_field :is_credit %>
    <%-# link_to_remove_association is part of the cocoon gem for nested fields %>
    <%= link_to_remove_association "Remove Receipt Item", f, { :name => "receiptItemAssociation" } %>
</div>
