<h1>Listing receipts</h1>

<table id="allReceipts" class="tablesorter">
	<col width="100">
	<col width="100">
	<col width="200">
	<col width="50">
	<col width="175">
	<col width="125">
	<col width="100">
	<col width="75">
	<col width="75">
	<col width="50">
	<col width="40">
  <thead>
    <tr>
			<th>Date</th>
			<th>Title</th>
			<th>Note</th>
			<th>Total</th>
			<th>Transaction number</th>
			<th>Purchase type</th>
			<th>Folder</th>
			<th>Vendor</th>
			<th>Currency</th>
			<th></th>
			<th></th>
			<th></th>
    </tr>
  </thead>

  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td><%= receipt.date.strftime("%m/%d/%Y") %></td>
				<td><%= receipt.title %></td>
        <td><%= receipt.note %></td>
        <td>$<%= number_with_precision(receipt.total, :precision => 2) %></td>
        <td><%= receipt.transaction_number %></td>
        <td><%= receipt.purchase_type.name %></td>
				<% if (receipt.folder != nil) %>
					<td><%= receipt.folder.name %></td>
				<% else %>
					<td></td>
				<% end %>
				<% if (receipt.vendor != nil) %>
					<td><%= receipt.vendor.name %></td>
				<% else %>
					<td></td>
				<% end %>
        <td><%= receipt.currency.code %></td>
        <td><%= link_to 'Show', receipt %></td>
        <td><%= link_to 'Edit', edit_receipt_path(receipt) %></td>
        <td><%= link_to 'Destroy', receipt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receipt', new_receipt_path %>
