<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @receipt.title %>
</p>

<p>
  <strong>Date:</strong>
	<%= @receipt.date.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>Total:</strong>
  <%= @receipt.total %>
</p>

<p>
  <strong>Transaction number:</strong>
  <%= @receipt.transaction_number %>
</p>

<p>
  <strong>Purchase type:</strong>
  <%= @receipt.purchase_type.name %>
</p>

<% if (@receipt.folder != nil) %>
	<p>
	  <strong>Folder:</strong>
	  <%= @receipt.folder.name %>
	</p>
<% end %>

<p>
  <strong>Note:</strong>
  <%= @receipt.note %>
</p>

<p>
  <strong>Vendor:</strong>
	<% if (@receipt.vendor != nil) %>
		<%= @receipt.vendor.name %>
	<% end %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @receipt.currency.code %>
</p>

<p>
  <% if (@receipt.receipt_items != nil) %>
    <table>
			<col width="350">
			<col width="70">
			<col width="45">
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th>Total</th>
      </tr>
      <% @receipt.receipt_items.each do |item| %>
        <tr>
          <td><%= item.item_type.name %></td>
          <td><%= item.quantity %></td>
          <% if (item.is_credit == false) %>
            <td><%= item.cost %></td>
            <td><%= item.cost * item.quantity %></td>
          <% else %>
            <td><%= -1 * item.cost %></td>
            <td><%= -1 * item.cost * item.quantity %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Receipt List', receipts_path %>
