<p id="notice"><%= notice %></p>

<p>
  <strong>Total:</strong>
  <%= @receipt.total %>
</p>

<p>
  <strong>Transaction number:</strong>
  <%= @receipt.transaction_number %>
</p>

<p>
  <strong>Purchase type:</strong>
  <%= @receipt.purchase_type.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @receipt.title %>
</p>

<p>
  <strong>Folder:</strong>
  <%= @receipt.folder.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @receipt.note %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @receipt.vendor.name %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @receipt.currency.name %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
